:root {
  --primary-color: #1e2a3a;
  --secondary-color: #34d399;
  --button-color: #ffa500;
  --alert-color: #ff4136;
  --neutral-color: #ffffff;
  --neutral-text-color: #808080;
}

body {
  background-color: var(--neutral-color);
  font-family: "VT323", sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
}

/* NAVBAR START */
nav {
  background-color: var(--primary-color);
  height: 80px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 50px;
  position: absolute;
  top: 0;
  z-index: 100;
}

nav .logo img {
  height: 80px;
  margin-right: 10px;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

nav ul li {
  float: left;
}

nav ul li a {
  display: inline-block;
  color: var(--neutral-color);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  transition: 0.3s ease-in-out;
  margin: 0px 10px;
  position: relative;
  font-size: 20px;
}

nav ul li a::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: var(--neutral-color);
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

nav ul li a:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.active-list::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

nav .logout button {
  background-color: var(--neutral-color);
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  color: var(--primary-color);
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  transition: 0.3s ease-in-out;
  border: var(--primary-color) solid 1px;
  font-family: "VT323", sans-serif;
}

nav .logout button:hover {
  background-color: var(--primary-color);
  color: var(--neutral-color);
  border: var(--neutral-color) solid 1px;
  transition: 0.3s ease-in-out;
}

/* NAVBAR END */

.inner-body {
  padding: 0px 50px;
  margin-top: 120px;
  flex-direction: column;
}

.title {
  margin-top: 40px;
  margin-bottom: 40px;
}

.page-title {
  font-weight: 100;
  margin-top: 40px;
  text-align: center;
  font-size: 40px;
}

/* PROGRAMS START */

.programs {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 5%;
  width: 100%;
}

.programs a {
  text-decoration: none;
  color: #000;
  margin-bottom: 20px;
}

.programs .program {
  display: flex;
  align-items: center;
  justify-content: center;
  border: var(--primary-color) solid 1px;
  flex-direction: row;
  height: fit-content;
  width: 100%;
}

.programs .program .image {
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.programs .program .image img {
  width: 100px;
  border-radius: 50%;
  border: var(--secondary-color) solid 1px;
}

.programs .program .description {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  text-align: center;
  padding: 20px;
  height: 50%;
  justify-content: center;
  background-color: --;
}

.programs .program .description .program-name {
  font-size: 30px;
  font-weight: 100;
}

.programs .program .description .program-description {
  font-size: 20px;
  font-weight: 100;
}

/* PROGRAMS END */

/* FOOTER START */

footer {
  background-color: var(--primary-color);
  height: 80px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0 50px;
  bottom: 0;
  z-index: 100;
}

footer span {
  color: var(--neutral-color);
  font-size: 20px;
}

footer .footer-links {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 20px;
}

footer .footer-links a {
  text-decoration: none;
  color: var(--neutral-color);
  font-size: 20px;
}

/* FOOTER END */

/* SIGNUP PAGE START*/

.signup {
  background-color: var(--primary-color);
  height: 100vh;
  margin-top: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.signup .container {
  max-width: 700px;
  width: 100%;
  background-color: var(--neutral-color);
  padding: 20px 30px;
  border-radius: 5px;
}
.signup .container .title {
  font-size: 25px;
  font-weight: 500;
  position: realtive;
  padding-bottom: 8px;
  position: relative;
}

.signup .container .title p {
  font-family: "VT323", sans-serif;
}
.signup .container .title:before {
  content: "";
  width: 40px;
  height: 4px;
  left: 0px;
  bottom: 0px;
  position: absolute;
  background: var(--secondary-color);
}
.signup .container form .user-detail {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 20px 0 12px 0;
}

.signup .container form .user-detail .input-box {
  margin-bottom: 15px;
  width: calc(100% / 2 - 20px);
}
.signup .container form .user-detail .input-box .details {
  display: block;
  font-weight: 500;
  margin-bottom: 5px;
}
.signup .container form .user-detail .input-box input,
.signup .container form .user-detail .input-box textarea {
  height: 45px;
  width: 100%;
  outline: none;
  border-radius: 5px;
  border: 1px solid var(--secondary-color);
  padding-left: 15px;
  font-size: 15px;
  border-bottom-width: 2px;
  transition: all 0.4s ease;
  font-family: "VT323", sans-serif;
}
.signup .container form .user-detail .input-box textarea {
  resize: none;
}
.user-detail .input-box input:focus,
.user-detail .input-box textarea:focus {
  border-color: var(--secondary-color);
}

form .gender-detail .gender-title {
  font-size: 20px;
  font-weight: 500;
}
form .gender-detail .category {
  display: flex;
  width: 80%;
  margin: 14px 0;
  justify-content: space-between;
}

.gender-detail .category label {
  display: flex;
  align-items: center;
}
.gender-detail .category .dot {
  height: 18px;
  width: 18px;
  background: var(--neutral-color);
  border-radius: 50%;
  margin-right: 10px;
  border: 1px solid var(--primary-color);
}

#dot-1:checked ~ .category label .one,
#dot-2:checked ~ .category label .two,
#dot-3:checked ~ .category label .three {
  border: 5px solid var(--primary-color);
  border-color: var(--primary-color);
  background: var(--neutral-color);
}
form input[type="radio"] {
  display: none;
}
form .button {
  height: 45px;
  transition: 0.7s ease-in-out;
}
form .button input {
  height: 100%;
  width: 100%;
  outline: none;
  color: var(--neutral-color);
  border-radius: 5px;
  border: none;
  font-size: 18px;
  font-weight: 500;
  background: var(--secondary-color);
  cursor: pointer;
  transition: all 0.4s ease;
  font-family: "VT323", sans-serif;
}
form .button input:hover {
  background: var(--primary-color);
  transition: all 0.4s ease;
}

.container .form-swap {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  gap: 5px;
  text-align: center;
}

.container .form-swap a {
  text-decoration: none;
  color: var(--secondary-color);
  font-size: 18px;
  font-weight: 500;
  transition: 0.3s ease-in-out;
}

.container .form-swap a:hover {
  color: var(--primary-color);
  transition: 0.3s ease-in-out;
}

@media (max-width: 584px) {
  .container {
    max-width: 100%;
  }

  .container form .user-detail {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }
  form .user-detail .input-box {
    margin-bottom: 15px;
    width: 100%;
  }
  form .gender-detail .category {
    width: 100%;
  }
  .container form .user-detail {
    max-height: 300px;
    overflow-y: scroll;
  }
  .user-detail::-webkit-scrollbar {
    width: 0;
  }
}

.required {
  color: var(--alert-color);
  font-size: 20px;
  font-weight: 500;
  margin-left: 5px;
}

/* SIGNUP PAGE END */

/* LOGIN PAGE */

.login {
  background-color: var(--primary-color);
  height: 100vh;
  margin-top: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login .container {
  max-width: 500px;
  width: 100%;
  background-color: var(--neutral-color);
  padding: 20px 30px;
  border-radius: 5px;
}
.login .container .title {
  font-size: 25px;
  font-weight: 500;
  position: realtive;
  padding-bottom: 8px;
  position: relative;
}

.login .container .title p {
  font-family: "VT323", sans-serif;
}
.login .container .title:before {
  content: "";
  width: 40px;
  height: 4px;
  left: 0px;
  bottom: 0px;
  position: absolute;
  background: var(--secondary-color);
}
.login .container form .user-detail {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  flex-direction: column;
  margin: 20px 0 12px 0;
}

.login .container form .user-detail .input-box {
  margin-bottom: 15px;
  width: 100%;
}
.login .container form .user-detail .input-box .details {
  display: block;
  font-weight: 500;
  margin-bottom: 5px;
}
.login .container form .user-detail .input-box input {
  height: 45px;
  width: 100%;
  outline: none;
  border-radius: 5px;
  border: 1px solid var(--secondary-color);
  padding-left: 15px;
  font-size: 15px;
  border-bottom-width: 2px;
  transition: all 0.4s ease;
  font-family: "VT323", sans-serif;
}

/* LOGIN END */

/* COMPANY REGISTRATION START*/

.file {
  padding-top: 10px;
}

.company {
  height: fit-content;
  padding: 80px 0;
}

/* COMPANY REGISTRATION END */

/* REPORTS START */

.reports {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.report {
  width: 80%;
  max-width: 80%;
  background-color: var(--neutral-color);
  padding: 20px 30px;
  border-radius: 5px;
  margin-bottom: 20px;
  border: 1px solid var(--primary-color);
}

.report a {
  text-decoration: none;
  color: var(--primary-color);
  font-size: 18px;
  font-weight: 500;
  transition: 0.3s ease-in-out;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
  gap: 10%;
}

.report a .logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.report a .logo img {
  width: 80px;
  height: 80px;
}

.report a .description {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 5px;
}

.report a .description .report-title {
  font-size: 20px;
  font-weight: 500;
}

.report a .description .report-description {
  font-size: 15px;
  font-weight: 500;
}

.report a .description .report-date {
  font-size: 15px;
  font-weight: 500;
}

.report a .bounty-award {
  font-size: 20px;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  flex-direction: column;
}

.report a .bounty-award .bounty-award-amount {
  font-size: 20px;
  font-weight: 500;
}

.report a .bounty-award .bounty-award-title {
  font-size: 15px;
  font-weight: 500;
}
/* REPORTS END */

/* SETTINGS START */

.settings {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.settings form {
  width: 100%;
  background-color: var(--neutral-color);
  padding: 20px 30px;
  border-radius: 5px;
  margin-bottom: 20px;
  border: 1px solid var(--primary-color);
  max-width: 500px;
}

.settings form .input-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  flex-direction: column;
  margin: 20px 0 12px 0;
}

.settings form .input-box label {
  display: block;
  font-weight: 500;
  margin-bottom: 5px;
}

.settings form .input-box input {
  height: 45px;
  width: 100%;
  outline: none;
  border-radius: 5px;
  border: 1px solid var(--secondary-color);
  padding-left: 15px;
  font-size: 15px;
  border-bottom-width: 2px;
  transition: all 0.4s ease;
  font-family: "VT323", sans-serif;
}

.settings form .input-box input:focus {
  border-color: var(--primary-color);
}

.settings form .button button {
    width: 100%;
    height: 45px;
    border-radius: 5px;
    border: none;
    background-color: var(--primary-color);
    color: var(--neutral-color);
    font-size: 15px;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.4s ease;
    font-family: "VT323", sans-serif;
}

.settings form .button button:hover {
  background-color: var(--secondary-color);
}

.settings .sub-title {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 10px;
  text-align: center;
}



/* SETTINGS END */

/* LEADERBOARD START */

.leaderboard {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.leaderboard .top {
  width: 80%;
  max-width: 700px;
  background-color: var(--neutral-color);
  padding: 20px 30px;
  border-radius: 5px;
  margin-bottom: 20px;
  background-color: var(--secondary-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.leaderboard .top .top-item {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 10px 0;
  gap: 10%;
  background-color: var(--neutral-color);
  border-radius: 5px;
  padding: 10px 20px;
  height: 100px;
}

.leaderboard .top .top-item:nth-child(2){
  height: 150px;
}


.leaderboard .top .top-item:nth-child(1) .rank, .leaderboard .top .top-item:nth-child(3) .rank{
  font-size: 30px;
  
}

.leaderboard .top .top-item:nth-child(1) .top-item-name, .leaderboard .top .top-item:nth-child(3) .top-item-name{
  font-size:25px;
}

.leaderboard .top .top-item:nth-child(2) .rank{
  font-size: 35px; 
}

.leaderboard .top .top-item:nth-child(2) .top-item-name{
  font-size: 30px; 
}

.leaderboard .top .top-item .top-item-name {
  font-size: 20px;
  font-weight: 500;
}

.leaderboard .top .top-item .top-item-points {
  font-size: 15px;
  font-weight: 500;
  color: var(--neutral-text-color);
}

.leaderboard .top-others {
  width: 80%;
  max-width: 700px;
  background-color: var(--neutral-color);
  padding: 20px 30px;
  border-radius: 5px;
  margin-bottom: 20px;
  background-color: var(--secondary-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  gap: 10px;

}

.leaderboard .top-others .top-others-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
  gap: 10%;
  background-color: var(--neutral-color);
  border-radius: 5px;
  padding: 10px 20px;
  width: 100%;
}

.leaderboard .top-others .top-others-item .top-others-name {
  font-size: 20px;
  font-weight: 500;
  display: flex;
  gap: 5px;
  align-items: center;
  justify-content: center;
}

.leaderboard .top-others .top-others-item .top-others-name p:nth-child(1) {
  font-size: 15px;
  font-weight: 500;
  color: var(--neutral-text-color);
} 





/* LEADERBOARD END */

/* HACKTIVITY START */

.hacktivity {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.hacktivity .recent{
  width: 80%;
  max-width: 700px;
  background-color: var(--neutral-color);
  padding: 20px 30px;
  border-radius: 5px;
  margin-bottom: 20px;
  background-color: var(--secondary-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hacktivity .recent .name {
  font-size: 20px;
  font-weight: 500;
  display: flex;
  gap: 5px;
  align-items: center;
  justify-content: center;
}

.hacktivity .recent .main-title{
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 10px;
  text-align: center;
}

.hacktivity .recent .bounty-reward{
  font-size: 20px;
  font-weight: 500;
}

/* HACKTIVITY END */


/* Program Individual Page Start*/

.company-details .company-logo{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.company-details .company-logo img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-bottom: 10px;
}

.company-details .company-description{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.company-details .company-description p {
  font-size: 15px;
  font-weight: 500;
  margin-bottom: 10px;
  text-align: center;
}

.company-details .bounty-details{
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 50px;
}

.company-details .bounty-details .each{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  max-width: 200px;
  padding: 20px 30px;
  border-radius: 5px;
  margin-bottom: 20px;
}

.company-details .bounty-details .each:nth-child(1){
  background-color: var(--secondary-color);
}

.company-details .bounty-details .each:nth-child(2){
  background-color: var(--button-color);
}

.company-details .bounty-details .each:nth-child(3){
  background-color: var(--alert-color);
  color: var(--neutral-color);
}

.company-details .submit-report {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 50px;
}

.company-details .submit-report button{
  width: 100%;
  max-width: 200px;
  padding: 20px 30px;
  border-radius: 5px;
  margin-bottom: 20px;
  background-color: var(--primary-color);
  color: var(--neutral-color);
  font-size: 15px;
  font-weight: 500;
  cursor: pointer;
}

.company-details .valid-websites{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 50px;
}

.company-details .valid-websites p{
  font-size: 25px;
  font-weight: 500;
  margin-bottom: 10px;
  text-align: center;
}

.valid-websites .websites{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  max-width: 200px;
  padding: 20px 30px;
  border-radius: 5px;
  margin-bottom: 20px;
}

.valid-websites .websites .each{
  font-size: 15px;
}

.valid-websites .websites .each p{
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 10px;
  text-align: center;
}

.eligibility{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 50px 0 ;

}

.eligibility p{
  font-size: 25px;
  font-weight: 500;
  margin-bottom: 10px;
  text-align: center;
}

.eligibility .eligibility-details p{
  font-size: 15px;
  font-weight: 500;
  margin-bottom: 10px;
  text-align: center;
}

.out-of-scope{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 50px 0;
}

.out-of-scope p{
  font-size: 25px;
  font-weight: 500;
  margin-bottom: 10px;
  text-align: center;
}

.out-of-scope .out-of-scope-details ol{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}

.company-details .company-contact{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  padding: 20px 30px;
  border-radius: 5px;
  margin-bottom: 20px;
}

.company-details .company-contact span{
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 10px;
  text-align: center;
}

.company-details .company-contact .contact{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.company-details .company-contact .contact .each{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  max-width: 200px;
  padding: 20px 30px;
  border-radius: 5px;
  margin-bottom: 20px;
}

/* Program Individual Page End*/

/* REPORT SUBMIT PAGE START */

.report-submit-form{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 50px;
  width: 100%;
  font-family: 'VT323', sans-serif;
}

.report-submit-form .form{
  display: flex;
  justify-content: center;
  align-items: baseline;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  padding: 20px 30px;
  border-radius: 5px;
  margin-bottom: 20px;
  font-family: 'VT323', sans-serif;
}

.report-submit-form .form .field{
  display: flex;
  justify-content: center;
  align-items: baseline;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  padding: 20px 30px;
  border-radius: 5px;
  margin-bottom: 20px;
  font-family: 'VT323', sans-serif;
}


.report-submit-form .form .field .field-title{
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 10px;
  text-align: center;
  font-family: 'VT323', sans-serif;
}

.report-submit-form .form .field .text{
  display: flex;
  justify-content: center;
  align-items: baseline;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  border-radius: 5px;
  margin-bottom: 20px;
  font-family: 'VT323', sans-serif;
}

.report-submit-form .form .field  .input{
  width: 100%;
  font-size: 15px;
  font-weight: 500;
  display: flex;
  justify-content: center;
  font-family: 'VT323', sans-serif;
}

.report-submit-form .form .field  .input input{
  width: 100%;
  padding: 20px 30px;
  border-radius: 5px;
  margin-bottom: 20px;
  border: 1px solid var(--primary-color);
  font-size: 15px;
  font-weight: 500;
  font-family: 'VT323', sans-serif;
}

.report-submit-form .form .field  .input select {
  width: 100%;
  padding: 20px 30px;
  border-radius: 5px;
  margin-bottom: 20px;
  border: 1px solid var(--primary-color);
  font-size: 15px;
  font-weight: 500;
  font-family: 'VT323', sans-serif;
}

.report-submit-form .form .field  .input textarea{
  width: 100%;
  padding: 20px 30px;
  border-radius: 5px;
  margin-bottom: 20px;
  border: 1px solid var(--primary-color);
  font-size: 15px;
  font-weight: 500;
  font-family: 'VT323', sans-serif;
}

.report-submit-form .form .field  .input input[type="file"]{
  text-align: center;
  cursor: pointer;
  color: var(--primary-color);
}

.checkbox .same-line{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 100%;
}

.checkbox .same-line a{
  color: var(--primary-color);
  text-decoration: none;
}

.report-submit-form .form .field  .input input[type="submit"]{
  width: 100%;
  padding: 20px 30px;
  border-radius: 5px;
  margin-bottom: 20px;
  border: 1px solid var(--primary-color);
  font-size: 15px;
  font-weight: 500;
  cursor: pointer;
  background-color: var(--primary-color);
  color: #fff;
}

/* REPORT SUBMIT PAGE END */
